# Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
.run/

# Eclipse
.classpath
.project
.settings/
bin/

# VS Code
.vscode/

# Minecraft / Modding
run/
run-*/
*.log
local.properties

# Temp/OS
.DS_Store
thumbs.db
